* {
	margin: 0;
	padding: 0;
	}

body {
	font-family: 'Segoe UI', Arial, sans-serif;
	background: #ffffff;
}
ul {
    list-style: none;
    padding: 0;
}
ul li{
    display: inline-block;
    padding: 10px;
}
.navbar {
	display: flex;
	background: #3c037d;
	color: #fff;
	

}

